absl-py==2.3.1
aiofiles==25.1.0
chex==0.1.91
cma==4.4.0
contourpy==1.3.3
cycler==0.12.1
etils==1.13.0
-e git+https://github.com/jacopo-minniti/evojax.git@b3e6fcc6303ba7c11d15ae56028f95e444b0aee6#egg=evojax
flax==0.12.0
fonttools==4.60.1
fsspec==2025.9.0
humanize==4.14.0
importlib_resources==6.5.2
jax==0.7.2
jaxlib==0.7.2
kiwisolver==1.4.9
markdown-it-py==4.0.0
matplotlib==3.10.7
mdurl==0.1.2
ml_dtypes==0.5.3
msgpack==1.1.2
nest-asyncio==1.6.0
numpy==2.2.2
opencv-python-headless==4.9.0.80
opt_einsum==3.4.0
optax==0.2.6
orbax-checkpoint==0.11.26
packaging==25.0
pillow==12.0.0
protobuf==6.33.0
psutil==7.1.2
Pygments==2.19.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
PyYAML==6.0.3
rich==14.2.0
scipy==1.16.2
simplejson==3.20.2
six==1.17.0
tensorstore==0.1.78
toolz==1.1.0
treescope==0.1.10
typing_extensions==4.15.0
zipp==3.23.0
